

	 <div th:replace="componentes/topo"></div>


<!-- So mudar aqui dentro do container -->
      <div class="container-fluid">
		  
		<div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Ocorreu um erro inesperado. </h5>
                        <h5 class="card-title fw-semibold mb-4">Desculpe.</h5> 
          </div>
        </div>
	  </div>
      
      <!-- fim do container fluir -->
      	 <div th:replace="componentes/inferior"></div>

   

  
   